@tailwind base;
@tailwind components;
@tailwind utilities;

/* *{
    margin: 0 !important;
    padding: 0 !important;
} */

.css-142372x-MuiButtonBase-root-MuiButton-root{
    display: block !important;
    margin: 0 auto !important;;
}

.user-home{
    display: flex !important;
}

.hidden-input{
    display: none !important;
}

.sas{
    margin: 0 20px !important;
}

.gender-margin{
    margin-left: 20px !important;
}

.btn-form{
    margin-top: 30px !important;
}